<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <style>
            body {
                background-color: blue;
                margin-left: 20%;
                margin-right: 20%;
                border: 1px gray;
                padding: 10px 10px 10px 10px;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        {{ content }}
    </body>
</html>
